# SECURITY
FLASK_SECRET_KEY=yours_here
FERNET_KEY=yours_here

# BLOCKCHAIN & IPFS
GANACHE_URL=http://127.0.0.1:7545
IPFS_API_URL=http://127.0.0.1:5001
CONTRACT_ADDRESS=your_contract_address_here

# DATABASE
DATABASE_URL=sqlite:///exam_dapp.db